/* CSS Reset */
html, body{
    margin: 0;
    padding: 0;
}

#background{
    background-color: #2E3650;
    width: 100%;
    height: auto;
}

#img-logo{
    padding: 10px;
    width: 150px;
    height: auto;
}

form{
    font-family: 'Roboto', sans-serif;
    border: 1px solid #7e7e7e;
    margin-top: 80px;
    padding:15px;
}

input{
    border: 1px solid  #707070;  
    height: 30px;
}

.btn{
    font-family: 'Roboto', sans-serif;
    background: #87B42A;
    color: #FFFFFF;
    text-align: center;
    width: 100px;
    border-radius: 0;
}

.btn:hover{
    color: #FFFFFF;
}

.card-text{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color:#FFFFFF;
    background: #2E3650;
    background-size: 100%;
    width: 100%;
}

#footer-form{
    background-color: #F6BB00;
    position: fixed;
    height: 75px;
    bottom: 0;
}
          
#footer-tks{
    background-color: #F6BB00;
    height: 75px;
    bottom: 0;
}
