body{
    margin: 0;
    padding: 0;
}

/* Página 1 */

/* Logotipo */
.bg-header{
    background-color: #2E3650;
    width: 100%;
    height: auto;
}

.img-logo{
    padding: 5px;
    width: 12vw;
    height: auto;
}

/* Imagem principal */
#img-header{
    width: 100%;
    height: 100%;
    opacity: 1;
}

#text-header{
    top: 10vw;
    margin-left: 7vw;
    width: 42vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.2vw;
    position: absolute;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0px;
    line-height: 110%;
    color: #FFFFFF;
    opacity: 1;
} 

/* Quem Somos */
.quem-somos{
    margin-top: 10px;
     font-family: 'Roboto', sans-serif;
     color: #2E3650;
     font-weight: bold;
     opacity: 1;
     font-size: 3.50vw;
}

.p-quem-somos{
    color: #2E3650;
    opacity: 1;
}